<!DOCTYPE html>
<html>
<head>
    <title>
        {{ if .IsHome }}{{ .Site.Params.title }}{{ else }}{{ .Site.Params.title }} :: {{ .Params.title }}{{ end }}
    </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <<meta name="title" content="{{ if .IsHome }}{{ .Site.Params.title }}{{ else }}{{ .Site.Params.title }} :: {{ .Params.title }}{{ end }}">
    <meta name="author" content="{{ if .Params.author }}{{ .Params.author }}{{ else }}{{ range .Site.Author }}{{ . }} {{ end }}{{ end }}">
    <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.summary | plainify }}{{ end }}" />
    <meta name="keywords" content="{{ .Site.Params.keywords }}" />
    <meta name="robots" content="noodp" />
    <meta name="theme-color" content="#000000" />
    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="stylesheet" href="{{ "../assets/css/main.css" | absURL }}"/>
    <noscript><link rel="stylesheet" href="{{ "../assets/css/noscript.css" | absURL }}"/></noscript>
    <style>
        :root{--site-background : url("{{ .Params.background | default "images/bg.jpg" | absURL }}")};
    </style> 
    <!-- Include the script that enables Netlify Identity on this page. -->
    <!--<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>-->
    <script src="https://unpkg.com/embeddable-nfts/dist/nft-card.min.js"></script>
</head>
